<h1>登録された筆跡</h1>
<br>
<%= link_to "筆跡を登録", new_hisseki_path, "data-turbolinks": false, class: ["btn btn-primary"] %>

<ul class="list-group">
  <% @hissekis.each do |hisseki| %>
  <li class="list-group-item d-flex text-left align-items-center">
    <%= hisseki.id %>
    <hr>
    <div class="border-bottom border-start border-end border-top border-primary border-2">
      <%= hisseki.user.name %>
    </div>
    <%= image_tag hisseki.image.url, class: "ms-auto" %>
  </li>
  <% end %>
</ul>
<br>
